.img{
    width: 35px;
    height: 34px;
}
.footer{
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 100px;
    padding-top: 10px;
    width: 100%
}
.call,.message,.connect{
    display: flex;
    gap: 0.15rem;
    align-items: center;
}
@media(max-width:600px){
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
}